<style>
  .wrapper {
    width: 300px;
    margin: auto;
    margin-top: 80px;
    padding: 30px 10px;
    background-color: #EAEAEA;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 15px 15px 50px grey;
  }
</style>
<div class="wrapper">
  <p class = "text-center"><strong>Your attempt is: <%= @attempt%></strong></p>
  <p>Time to answer: <%= @result[:time].round%> secondes</p>
  <p>Translation in french: <%= @result[:translation]%> </p>
  <p>Your score: <%= @result[:score].round %> point</p>
  <p class = "text-center"><strong><%= @result[:message]%></strong></p><br>
  <p class = "text-center"><%= link_to "play again", "/game", class: "btn btn-primary"%></p>


</div>
